<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example </title>
</head>

<body>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>

</body>

</html>

<!--
This Thymeleaf template presents a form that captures a username and password and posts
them to /login.
As configured, Spring Security provides a filter that intercepts that request and
authenticates the user.
If the user fails to authenticate, the page is redirected to /login?error, and your page
displays the appropriate error message.
Upon successfully signing out, your application is sent to /login?logout, and your page
displays the appropriate success message.
Remember, we only have one user, with a username of "user" and a password of "password,"
so this is the only user we can log in.
In a real application, we would create and store users from a sign-up page.
-->